<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	
	<body>
	
	<h2>CRUD Personas</h2>
<div class="row">
	<div class="col-md-2">
	<a class="btn btn-success " th:href="@{/add}"
		th:text="Agregar" title="Nuevo Registro">
	</a>
</div>
</div >